extends layout

block content
  .inner
    .single__hero
      #slide_cont
      br
      if trip.photo
        ul
          each photo in trip.photo
            li.tag
              img.mySlides(src=`/uploads/${photo}`)

      button.sliderButton.display-left(onclick='plusDivs(-1)') ❮
      button.sliderButton.display-right(onclick='plusDivs(+1)') ❯
      h2= trip.name
      p= trip.description


    .single__details.inner
      img.single__map(src=h.staticMap(trip.location.coordinates))
      p.single__location= trip.location.address

    script.
      var sliderCount = 1;
      showDivs(sliderCount);

      function plusDivs(n) {
          showDivs(sliderCount += n);
      }

      function showDivs(n) {
          var i;
          var images = document.getElementsByClassName("mySlides");
          if (n > images.length) {sliderCount = 1} 
          if (n < 1) {sliderCount = images.length} ;
          for (i = 0; i < images.length; i++) {
              images[i].style.display = "none"; 
          }
          images[sliderCount-1].style.display = "block"; 
      }




